<div class="flex grid-cols-[auto_1fr] justify-end">
    <div class="grid gap-2 items-center grid-cols-[1fr_auto] justify-items-end">
        <form [formGroup]="form">
            <app-input
                type="search"
                placeholder="Search tasks..."
                id="search-tasks"
                formControlName="searchTerm"
                (ngModelChange)="onSearchTermChange()"
            />
        </form>
        <app-button
            variant="cta"
            color="primary"
            (onClick)="createTask()"
        >
            New task
        </app-button>
    </div>
</div>

<div class="grid grid-cols-1 mt-2 gap-x-4 lg:grid-cols-3">
    @for (currentStatus of [TaskStatus.Todo, TaskStatus.InProgress, TaskStatus.Completed]; track currentStatus) {
    <div class="">
        <h1 class="text-lg font-semibold mt-6 mb-2">
            {{ currentStatus | taskStatus }}
        </h1>

        <div class="grid grid-cols-1 gap-3 lg:grid-cols-1 sm:grid-cols-2">
            @for (task of this.store.sortedAndFilteredTasks(); track task.id) { @if ( currentStatus === task.status ){
            <div class="bg-white dark:bg-gray-800 rounded-lg px-4 pt-6 pb-4 ring shadow-lg ring-gray-900/5">
                <div
                    class="text-xs"
                    matTooltip="{{ task.creationDate | date : 'medium' }}"
                >
                    Created {{ task.creationDate | fromNow }}
                </div>
                <div class="text-base font-medium">
                    {{ task.name }}
                </div>

                <div class="text-sm text-neutral-500 dark:text-neutral-300 whitespace-pre-line">
                    {{ task.description }}
                </div>
                <div class="items-center mt-2 grid grid-cols-[auto_1fr] gap-2">
                    <div class="">
                        <app-task-status-badge [status]="task.status"></app-task-status-badge>
                    </div>
                    <div class="flex justify-end items-center">
                        <app-button
                            class="btn-circle"
                            color="primary"
                            variant="ghost"
                            size="small"
                            matTooltip="Edit task"
                            (click)="editTask(task)"
                        >
                            <mat-icon>edit</mat-icon>
                        </app-button>
                        <app-button
                            [circle]="true"
                            color="primary"
                            variant="ghost"
                            size="small"
                            matTooltip="Delete task"
                            (click)="deleteTask(task)"
                        >
                            <mat-icon>close</mat-icon>
                        </app-button>
                        @if ( task.status === TaskStatus.Todo ){
                        <app-button
                            color="primary"
                            variant="contained"
                            size="small"
                            matTooltip="Move task to In Progress"
                            [matTooltipPosition]="'above'"
                            class="pr-0.5 gap-0"
                        >
                            Start<mat-icon>chevron_right</mat-icon>
                        </app-button>
                        } @else if ( task.status === TaskStatus.InProgress){
                        <app-button
                            color="primary"
                            variant="contained"
                            size="small"
                            matTooltip="Mark task as Completed"
                            [matTooltipPosition]="'above'"
                            class="pr-0.5 gap-0"
                        >
                            <span>Close</span>
                            <mat-icon>chevron_right</mat-icon>
                        </app-button>
                        }
                    </div>
                </div>
            </div>
            } } @empty {
            <div class="col-span-full">You have no tasks with the current filter applied 🎉</div>
            }
        </div>
    </div>
    }
</div>
