<div class="flex justify-end items-center gap-4">
    <div>
        @if (store.isLoading()){
        <mat-spinner
            strokeWidth="2"
            diameter="16"
        ></mat-spinner>
        }
    </div>
    <div class="grid gap-2 items-center grid-cols-[1fr_auto] justify-items-end">
        <form
            [formGroup]="form"
            class="w-72"
        >
            <app-input
                type="search"
                placeholder="Search for tasks by their name"
                id="search-tasks"
                formControlName="searchTerm"
                (ngModelChange)="onSearchTermChange()"
            />
        </form>
        <app-button
            variant="cta"
            color="primary"
            (onClick)="openCreateTaskDialog()"
        >
            New task
        </app-button>
    </div>
</div>

<div class="grid grid-cols-1 mt-2 gap-x-4 lg:grid-cols-3">
    @for (currentSwimlane of store.sortedSwimLanes(); track currentSwimlane.status) {
    <div class="">
        <div class="flex mt-6 mb-3 items-center gap-2">
            <div>
                @switch (currentSwimlane.status) { @case (TaskStatus.Todo) {
                <app-avatar
                    color="sky"
                    icon="light"
                    size="medium"
                ></app-avatar>
                } @case (TaskStatus.InProgress) {
                <app-avatar
                    color="amber"
                    icon="rocket_launch"
                    size="medium"
                ></app-avatar>
                } @default {
                <app-avatar
                    color="emerald"
                    icon="task_alt"
                    size="medium"
                ></app-avatar>
                } }
            </div>
            <div>
                <span class="text-xs block font-medium leading-none mb-1">Status</span>
                <h1 class="text-xl font-semibold leading-none">{{ currentSwimlane.status | taskStatus }}</h1>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-3 lg:grid-cols-1 sm:grid-cols-2">
            @for (task of currentSwimlane.tasks; track task.id) {
            <div
                class="bg-white dark:bg-gray-800 rounded-lg px-4 pt-4 pb-4 ring shadow-lg ring-gray-900/5 border-l-4"
                [class]="{
                    'border-sky-200': task.status === TaskStatus.Todo,
                    'border-amber-200': task.status === TaskStatus.InProgress,
                    'border-emerald-200': task.status === TaskStatus.Completed
                }"
            >
                <div class="flex justify-end mb-0.5">
                    <div
                        class="text-xs font-base text-neutral-700 dark:text-neutral-300"
                        matTooltip="{{ task.creationDate | date : 'medium' }}"
                    >
                        Created {{ task.creationDate | fromNow }}
                    </div>
                </div>
                <div class="text-lg font-semibold">
                    {{ task.name }}
                </div>
                <div class="text-sm text-gray-700 dark:text-neutral-300 whitespace-pre-line font-medium">
                    {{ task.description || '&nbsp;' }}
                </div>
                <div class="items-center mt-2 grid grid-cols-[auto_1fr] gap-2">
                    <div class="">
                        @if ( task.status === TaskStatus.InProgress ){
                        <app-button
                            color="primary"
                            variant="ghost"
                            matTooltip="Mark task as Completed"
                            [matTooltipPosition]="'above'"
                            (click)="changeTaskStatus(task, TaskStatus.Completed)"
                        >
                            Move to Completed
                        </app-button>
                        } @else {
                        <app-button
                            color="primary"
                            variant="ghost"
                            matTooltip="Move task to In Progress"
                            [matTooltipPosition]="'above'"
                            (click)="changeTaskStatus(task, TaskStatus.InProgress)"
                        >
                            Move to In Progress
                        </app-button>
                        }
                    </div>
                    <div class="flex justify-end items-center">
                        <app-button
                            class="btn-circle"
                            color="primary"
                            variant="ghost"
                            size="small"
                            matTooltip="Edit task"
                            (click)="editTask(task)"
                        >
                            <mat-icon>edit</mat-icon>
                        </app-button>
                        <app-button
                            [circle]="true"
                            color="primary"
                            variant="ghost"
                            size="small"
                            matTooltip="Delete task"
                            (click)="deleteTask(task)"
                        >
                            <mat-icon>close</mat-icon>
                        </app-button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>
